<div>
    <div class="modal-header">
        <h3 class="modal-title">Change Password</h3>
    </div>

    <div class="modal-body">
        <form class="form-signin" name="changePasswordForm" role="changePassword">
            <div class="form-input">
                <label>New Password</label>
                <input type="password" class="form-control password" placeholder="Password" name="password" ng-model="changePassword.newPassword" ng-minlength="4" ng-maxlength="16" ng-required="true" password-match="changePassword.newPassword2">
                <input type="password" class="form-control password2" placeholder="Repeat Password" name="password2" ng-model="changePassword.newPassword2">
                <div class="errors" ng-class="{ active: changePasswordForm.password.$invalid && changePasswordForm.password.$dirty }">
                    <div class="error ng-hide" ng-show="changePasswordForm.password.$error.match">
                        <p>Passwords do not match.</p>
                    </div>
                    <div class="error ng-hide" ng-show="changePasswordForm.password.$error.minlength">
                        <p>For your own safety, use a password longer than 4 characters.</p>
                    </div>
                    <div class="error ng-hide" ng-show="changePasswordForm.password.$error.maxlength">
                        <p>For your own <b>SANITY</b>, use a password shorter than 16 characters.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()" ng-disabled="changePasswordForm.$invalid || changePasswordForm.$pristine || passwordWorking">Change Password</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-disabled="passwordWorking">Cancel</button>
    </div>
</div>